@mixin square {
  width: 24px;
  height: 36px;
}

$click: #696969;
$nonClick: #CECECE;

.Node {
  .box {
    background: $nonClick;
    display: inline-block;
    border-radius: 8px;
    margin: 1px;
    &.zero {
      @include square;
    }
    &.one {
      @include square;
    }
    &.two {
      @include square;
    }
    &.three {
      @include square;
    }
    &.four {
      @include square;
    }
    &.five {
      @include square;
    }
    &.six {
      @include square;
    }
    &.seven {
      @include square;
    }
  }
  .click {
    background: $click;
  }
}